<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zfzhu.xxx.user.mapper.db2.TestMapper">
    
    <select id="listAll" resultType="map">
        SELECT * FROM tb_test t
    </select>
</mapper>